* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #f3f3f3;
  font-size: 17px;
  line-height: 1.6;
}

#wood {
  background-image: url("../img/brown-close-up-hd-wallpaper-surface-172289.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: O 1rem;
}
#wood h1 {
  font-size: 4rem;
  line-height: 1.2;
}
#wood p {
  font-size: 1.5rem;
}
#wood .btn {
  margin-top: 1rem;
  padding: 0 1rem;
  color: #333333;
  background-color: burlywood;
}
#wood .btn:hover {
  cursor: pointer;
  color: #000000;
  background-color: bisque;
}
.sec_a p {
  padding: 1rem;
  color: #000000;
  background-color: bisque;
  text-align: center;
}
.sec_b p {
  padding: 1rem;
  color: #f3f3f3;
  background-color: #333333;
  text-align: center;
}
.sec_c {
  font-size: 1rem;
  display: flex;
  color: #000000;

  text-align: left;
}
.sec_c p {
  padding: 0 1rem;
}
.sec_c .box_1,
.sec_c .box_3 {
  background-color: bisque;
}
